@font-face {
  font-family: "OpenSans";
  src: url( "../fonts/OpenSans-Regular.woff" ) format( "woff" );
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "OpenSans";
  src: url("../fonts/OpenSans-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

html, body {
  overflow-x: hidden;
}

html {
  font-size: 62.5%;
}

body {
  margin: 0px;
  padding: 0px;
  font-family: "OpenSans", sans-serif;
}

input {
  font-family: "OpenSans", sans-serif;
}

.visually-hidden {
  width: 1px;
  height: 1px;
  clip: rect( 1px, 1px, 1px, 1px );
  position: absolute;
}

.inner {
  margin: 0px auto;
  max-width: 1200px;
}

/* Header */
.header {
  background-color: #000000;
  background-image: url( ../images/banner-bg.jpg );
  position: relative;
  z-index: 0;
  background-size: cover;
  margin-bottom: 65px;
  padding: 35px 0px 96px 0px;
}

.header:before {
  content: "";
  background-color: #000000;
  opacity: 0.6;
  z-index: -1;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.navigation-container {
  display: flex;
  flex-flow: wrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 58px;
}

.logo img {
  width: 179px;
}

.burger {
  width: 1px;
  height: 1px;
  clip: rect( 1px, 1px, 1px, 1px );
  position: absolute;
  border: 0;
  background-color: transparent;
}

.navigation ul {
  list-style-type: none;
  padding: 0px;
  display: flex;
}

.navigation li:nth-last-child(n+2) {
  margin-right: 35px;
}

.navigation a {
  text-transform: uppercase;
  color: #ffffff;
  text-decoration: none;
  font-size: 1.3rem;
}

.navigation a:hover {
  border-bottom: 1px solid #d2d5d4;
}

.header-title-container {
  display: flex;
  justify-content: center;
}

.header-title {
  width: 680px;
  text-align: center;
  color: #ffffff;
  font-size: 4.5rem;
  line-height: 7.5rem;
  font-weight: bold;
  text-transform: uppercase;
}

/* Trends */
.block-trends {
  margin: 64px auto;
}

.block-trends-header{
}

.block-trends-header h3{
  text-transform: uppercase;
  font-weight: bold;
  font-size: 2rem;
  color: #0f0d0e;
  text-align: center;
}

.block-trends-header h3:after {
  content: "";
  margin: 0px auto 22px auto;
  display: block;
  width: 66px;
  padding-top: 14px;
  border-bottom: 3px solid #e1d9bd;
}

.trends-list {
  display: flex;
  justify-content: space-between;
}

.trend-item {
  padding: 15px 20px;
  position: relative;
  width: calc(25% - 2px);
  min-height: 320px;
  display: flex;
  align-items: flex-end;
  background-size: cover;
  background-repeat: none;
  z-index: 1;
}

.trend-item:after {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  content: "";
  background-color: #000000;
  opacity: 0.6;
  z-index: -1;
}

.trend-item:nth-last-child(n+2) {
  margin-right: 4px;
}

.trend-item:nth-child(1) {
  background-image: url('../images/trend1.jpg');
}

.trend-item:nth-child(2) {
  background-image: url('../images/trend2.jpg');
}

.trend-item:nth-child(3) {
  background-image: url('../images/trend3.jpg');
}

.trend-item:nth-child(4) {
  background-image: url('../images/trend4.jpg');
}

.trend-item-content-block {
  border: solid 3px #b59f5b;
  padding: 30px;
}

.trend-item-tags-list {
  display: flex;
  list-style: none;
  align-items: flex-start;
  margin: 0;
  padding: 0;
}

.trand-item-tag {
  margin-right: 10px;
}

.trand-item-tag a{
  text-decoration: none;
  color: #b59f5b;
  text-transform: uppercase;
  font-size: 1.4rem;
  font-weight: bold;
}

.trand-item-tag a:hover {
  text-decoration: underline;
}

.trend-item-title {
  margin: 0;
}

.trend-item-title a {
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 2rem;
}

.trend-item-title a:hover {
  color: #b59f5b;
}

/* Content */
.content-container {
  display: flex; 
  justify-content: center;
  margin-bottom: 65px; 
}

/* Main */
.main {
  margin-right: 130px
}

/* New articles */
.block-new-articles {
}

.article {
  display: flex;
  align-items: flex-start;
  align-content: flex-start;
  margin-bottom: 65px;
}

.article:last-child {
  margin-bottom: 0px;
}

.article-image {
  width: 380px;
  align-self: center;
  margin-right: 30px;
  align-self: flex-start;
}

.article-box {
  width: 100%;
}

.tags-list {
  display: flex;
  list-style-type: none;
  padding: 0px;
  margin: 0px 0px;
  flex-flow: wrap;
}

.tags-list-item a {
  color: #b59f5b;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.4rem;
  font-weight: bold;
}
.tags-list-item a:hover {
  text-decoration: underline;
  color: #b59f5b;
}

.tags-list-item {
  margin-right: 20px;
}

.tags-list-item:last-child {
  margin-right: 0px;
}

.article-header {
  margin-bottom: 30px;
  margin-top: 0px;
  line-height: 24px;
}

.article-header a {
  text-decoration: none;
  text-transform: uppercase;
  color: #0f0d0e;
  font-size: 2rem;
  font-weight: bold;
}

.article-header a:hover {
  color: #b59f5b;
}

.article-meta {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 32px;
}

.article-meta-date{
  display: block;
  color: #888888;
  font-size: 1.2rem;
  margin-right: 15px;
}

.article-meta-author{
  display: block;
  color: #000000;
  font-weight: bold;
  font-size: 1.2rem;
}

.article-preview {
  color: #0f0d0e;
  font-size: 1.5rem;
  line-height: 22px;
}
/* END MAIN */

/* Aside */
.aside {
  width: 270px;
}
.aside-header {
  margin-bottom: 25px;
}

.aside-header h3 {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.4rem;
  color: #0f0d0e;
  text-align: center;
  margin: 0px;
}

.aside-header h3:after {
  content: "";
  margin: 0px auto 22px auto;
  display: block;
  width: 66px;
  padding-top: 1.4rem;
  border-bottom: 3px solid #e1d9bd;
}

.new-posts-section {
  margin-bottom: 60px;
}

.new-post-article {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 15px;
}

.new-post-article:last-child {
  margin-bottom: 0px;
}

.new-post-image {
  width: 70px;
  margin-right: 20px;
  align-self: center;
}

.new-post-date {
  display: block;
  font-size: 1.2rem;
  margin-bottom: 7px;
  color: #000000;
  opacity: 0.54;
}

.new-post-title {
  margin: 0px;
  font-size: 1.4rem;
  text-transform: uppercase;
  font-weight: bold; 
  width: 185px;
}

.new-post-title a {
  color: #000000;
  text-decoration: none;
}

.new-post-title a:hover {
  color: #b59f5b;
}

.search-form-section {
  margin-bottom: 60px;
}

.search-form {
  display: flex;
}
.search-input-label {
  width: 100%;
}
.search-input {
  width: 100%;
  box-sizing: border-box;
  margin: 0px;
  padding: 16px 20px;
  vertical-align: middle;
  font-size: 1.3rem;
  background-color: #f4f7f6;
  border: 0;
}

.email:focus, .search-input:focus {
  padding: 15px 19px;
  border: solid 1px #b59f5b;
  outline: none;
}

.search-input:focus {
  border-right: 0;
}

.search-submit {
  background-color: #b59f5b;
  background-image: url( ../svg/search.svg );
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 22px auto;
  width: 60px;
  border: 0;
  margin: 0px;
  padding: 0px;
}

.search-submit:hover, button.mailing-submit:hover {
  background-color: #323232;
}

.mailing-section {
  margin-bottom: 60px;
}

.mailing-form {
  display: flex;
  flex-direction: column;
}

.email {
  width: 100%;
  box-sizing: border-box;
  margin: 0px 0px 15px 0px;
  padding: 16px 20px;
  vertical-align: middle;
  font-size: 1.3rem;
  background-color: #f4f7f6;
  border: 0;
}

button.mailing-submit {
  background-color: #b59f5b;
  border: 0;
  padding: 14px 0px;
  color: #ffffff;
  font-size: 1.4rem;
  text-transform: uppercase;
  font-weight: bold;
  margin: 0px;
}

.tags-section { 
  margin-bottom: 60px;
 }

.tag {
  border: solid 2px #ededed;
  padding: 2px 15px;
  margin: 0px 6px 6px 0px;
}

.tag:hover {
  border-color: #b59f5b;
}

.tag:last-child {
  margin-right: 0px;
}

.tag a{
  text-decoration: none;
  text-transform: uppercase;
  color: #0f0d0e;
  font-size: 1.2rem;
  font-weight: bold;
}

.themes-section {
  margin-bottom: 60px;
}

.themes-list {
  list-style-type: none;
  display: flex;
  margin: 0px;
  padding: 0px;
  flex-direction: column;
}

.theme {
  border-bottom: solid 1px #eeeeee;
  padding: 14px 0px;
}

.theme:first-child {
  padding-top: 0px;
}

.theme-title {
  text-decoration: none;
  font-size: 1.4rem;
  font-weight: bold;
  color: #000000;
}

.theme-title:hover {
  color: #b59f5b;
}

.theme-articles-number {
  font-size: 1.2rem;
  color: #b59f5b;
  font-weight: bold;
  position: relative;
  top: -5px;
}
/* END ASIDE */

/* Our products */
.block-products-header h3{
  text-transform: uppercase;
  font-weight: bold;
  font-size: 2rem;
  color: #0f0d0e;
  text-align: center;
  margin: 0px;
}

.block-products-header h3:after {
  content: "";
  margin: 0px auto 22px auto;
  display: block;
  width: 66px;
  padding-top: 14px;
  border-bottom: 3px solid #e1d9bd;
}

.products-list {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}

.products-item {
  position: relative;
  max-width: calc(33.3% - 25px);
  display: flex;
  flex-direction: column;
}

.products-item:nth-child(n + 2) {
  mergin-left: 25px;
} 

.products-item-thumb {
  position: relative;
  top: 30px;
  z-index: -1;
  display: flex;
  justify-content: center;
}

.products-item-content {
  border: 3px solid #b59f5b;
  padding: 50px 20px 25px;
  flex-grow: 1;
}

.products-item-title {
  color: #000000;
  font-size: 2rem;
  font-weight: bold;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}

.products-item-description {
  font-size: 1.5rem;
  margin-bottom: 25px;
}

.products-item-description a {
  color: #b59f5b;
  text-decoration: none;
}

.products-item-description a:hover {
  text-decoration: underline;
}

.block-products-item-cost {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.products-item-cost {
  font-weight: bold;
}

.old-cost {
  font-size: 1.4rem;
  text-decoration: line-through; 
}

.new-cost {
  font-size: 2rem;
}

.products-item-button {
  font-size: 1.4rem;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: bold;
  padding: 19px 28px;
  background-color: #b59f5b;
  border: none;
  cursor: pointer;
}

.products-item-button:hover {
  background-color: #323232;
}

/* Footer */
.address {
  margin-bottom: 73px;
}

.social-list {
  list-style-type: none;
  margin: 0px;
  padding: 30px 0px;
  background-color: #f4f7f6;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-list li {
  margin-right: 28px;
}

.social-list li:last-child {
  margin-right: 0px;
}

.social-list-item {
  width:20px;
  height:20px;
  display: block;
  background-repeat:no-repeat;
  background-size: contain;
  background-position:center;
}

.twitter {
  background-image: url( ../svg/004-twitter.svg );
}

.pinterest {
  background-image: url( ../svg/001-pinterest.svg );
}

.facebook {
  background-image: url( ../svg/002-facebook-logo.svg );
}

.instagram {
  background-image: url( ../svg/005-instagram.svg );
}

.tumblr {
  background-image: url( ../svg/003-tumblr.svg );
}

.copyright {
  display: block;
  text-align: center;
  text-decoration: none;
  color: #999999;
  font-size: 1.2rem;
  padding-bottom: 40px;
}
/* END FOOTER */

/* Modal */
.modal {
  background-color: rgba(0, 0, 0, 0.75);
  overflow-y: auto;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 4;
}

.modal-container {
  width: 100%;
  max-width: 390px;
  background-color: #ffffff;
  position: relative;
  padding: 30px 25px;
}

.modal-content {

}

.modal-header {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 2rem;
  color: #0f0d0e;
  text-align: center;
}

.modal-header:after {
  content: "";
  margin: 0px auto 22px auto;
  display: block;
  width: 66px;
  padding-top: 14px;
  border-bottom: 3px solid #e1d9bd;
}

.modal-close {
  position: absolute;
  right: -40px;
  top: -40px;
  border: 0;
  outline: none;
  text-indent: -9999px;
  background-color: transparent;
  cursor: pointer;
  background-image: url( ../svg/form-x.svg );
  background-repeat: no-repeat;
}

.modal-form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.modal-form-group:nth-last-child(n+2) {
  margin-bottom: 30px;
}
.modal-group-header {
  font-size: 1.3rem;
  margin-bottom: 10px;
}

.select {
  display: inline-block;
  box-sizing: border-box;
  width: 100%;
  height: 48px;
  padding-left: 20px;
  padding-right: 25px;
  margin: 0;
  border: 0;
  background-color: #f4f7f6;
  font-size: 1.3rem;
  color: #828383;
  -webkit-appearance:none;
  -moz-appearance:none;
  outline: none;
  border-radius: unset;
  background-image: url( ../svg/form-arrows.svg );
  background-repeat: no-repeat;
  background-position: right 15px center;
  background-size: 10px;
}

.select:focus {
  border-bottom: solid 1px #b59f5b;
}

.modal-group-content {
  display: flex;
}

.radio-group:first-child {
  margin-right: 10px;
}

.radio-text {
  font-size: 1.3rem;
}

.radio-text:before {
  margin-right: 8px;
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 20px;
  height: 20px;
  background-image: url( ../svg/form-empty-circle.svg );
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 20px auto;
}

.radio:checked ~ .radio-text::before {
  background-image: url( ../svg/form-circle.svg );

}

input.radio {
  position:absolute;
  clip:rect(1px,1px,1px,1px);
  height:1px;
  width:1px;
}

.modal-textarea {
  width: 100%;
  box-sizing: border-box;
  resize: none;
  font-family: inherit;
  border: 0;
  outline: none;
  background-color: #f4f7f6;
  font-size: 1.3rem;
  color: #828383;
  padding: 20px;
  min-height: 130px;
}

.modal-textarea:focus {
  border-bottom: solid 1px #b59f5b;
}

.modal-button {
  color: #ffffff;
  background-color: #b59f5b;
  text-transform: uppercase;
  padding: 20px auto;
  width: 100%;
  border: 0;
  cursor: pointer;
  font-size: 1.4rem;
  font-weight: bold;
  line-height: 40px;
  outline: none;
}

.modal-button:hover {
  background-color: #323232;
}

@media (max-width: 1279px) {
  .header {
    background-image: url( ../images/banner-bg-tablet.jpg );
  }

  .logo {
    padding-left: 15px;
  }
  
  .burger{
    width: 32px;
    height: 32px;
    clip: auto;
    position: absolute;
    top: 15px;
    right: 15px;
    padding: 0;
    cursor: pointer;
  }

  .navigation ul{
    width: 1px;
    height: 1px;
    clip: rect( 1px, 1px, 1px, 1px );
    position: absolute;
  }

  .header-title {
    width: 100%;
    box-sizing: border-box;
    padding: 0 15px;
  }

  .content-container {
    padding: 0 15px;
    margin-bottom: 50px;
  }

  .main{
    margin-right: 30px;
  }

  .article{
    display: flex;
    flex-direction: column;
  }

  .article-image{
    width: 100%;
    margin-right: 0;
    align-self: center;
  }

  .trends-list {
    flex-wrap: wrap;
  }
  
  .trend-item {
    width: calc(50% - 42px);
  }

  .trend-item:nth-child(odd) {
    margin-right: 4px;
  }

  .trend-item:nth-last-child(n + 2) {
    margin-right: 0px;
  }

  .trend-item:nth-child(n + 3) {
    margin-top: 4px;
  }

  .products-list {
    flex-wrap: wrap;
  }

  .products-item {
    max-width: calc(50% - 25px);
  }
  .products-item:nth-child(odd) { 
    margin-right: 25px;
  }

  .footer {
    padding: 0 15px;
  }
}

@media (max-width: 768px) {
  .header {
    background-image: url( ../images/banner-mobile.jpg );
    background-size: cover;
    box-sizing: border-box;
    height: 100vh;
    flex-direction: column;
    padding-top: 50%;
  }

  .burger{
    width: 32px;
    height: 32px;
    clip: auto;
    position: absolute;
    top: 15px;
    right: 15px;
    padding: 0;
    cursor: pointer;
  }

  .navigation-container{
    margin-bottom: 0;
  }

  .logo {
    padding: 0;
    margin: 0 auto;
  }

  .logo img{
    height: 58px;
    width: auto;
  }

  .navigation ul{
    width: 1px;
    height: 1px;
    clip: rect( 1px, 1px, 1px, 1px );
    position: absolute;
  }

  .header-title {
    width: 100%;
    box-sizing: border-box;
    padding: 0 15px;
  }

  .content-container{
    flex-wrap: wrap;
    margin-bottom: 50px;
  }

  .main {
    width: 100%;
    padding: 0 15px;
    margin-right: 0;
  }

  .aside {
    width: 100%;
    padding: 0 15px;
  }

  .themes-section {
    margin-bottom: 0;
  }

  .article{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .article-image{
    width: 100%;
    margin-right: 0;
    align-self: center;
  }

  .trends-list {
    flex-wrap: wrap;
  }

  .products-list {
    flex-wrap: wrap;
  }

  .trend-item {
    width: 100%;
  }

  .trend-item:nth-child(odd) {
    margin-right: 0px;
  }

  .trend-item:nth-last-child(n + 2) {
    margin-right: 0px;
  }

  .trend-item:nth-child(n + 2) {
    margin-top: 4px;
  }

  .products-item {
    max-width: 100%;
    margin: 25px;
  }

  .footer {
    padding: 0 15px;
  }

}
